body {
    text-align: center;
    background-color: linen;
};

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#drink_container {
    max-height: auto;
    max-width: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

#drink_container span {
    height: 70px;
    width: 11vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin-right: 5px;
    margin-bottom: 5px;
}

#current_drink {
    height: 75vh;
    text-align: center;
}

#drink_info {
    display: flex;
    flex-flow: column;
    align-items: center;
}

#current_drink img {
    max-width: 75vw;
    max-height: 25vw;
}

#ingredients {
    text-align: center;
}

ul.ingList {
    display: inline-block;
    text-align: left;
}